* {
    box-sizing: border-box;
}

body {
    background-color: #000000;
    margin: 0;
}

.main-app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.calc-wrapper {
    width: 400px;
    height: 600px;
}

.num-row {
    cursor: pointer;
    display: flex;
    width: 100%;
}